<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/0.0.0-5a9c68d/tailwind.min.css"
    integrity="sha512-XgPcoW5S5ESFTO59Iy12VrhVngtzvQiLUKgp4JG3h1NVLPbdcNBNKELTswD/zDt4MEo98e7f16D/S07Arix11g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <title>Hack4TKM API</title>
</head>
<body onload="startTime()">
<div class="flex justify-center items-center h-screen">
  <div class="text-center">
    <p class="text-6xl font-mono font-bold tracking-wide mb-4">
      I'm Alive!
    </p>
    <p class="text-mono text-lg center m-4 font-semibold" id="date"></p>
    <a
      class="
            mt-8
            text-xl
            border-2 border-gray-800
            capitalize
            px-3
            py-2
            hover:bg-black
            hover:border-gray-100
            hover:text-gray-100
          "
      href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
    >docs</a
    >
  </div>
</div>
<script>
  function startTime() {
    const today = new Date();
    let date = today.getDay();
    let h = today.getHours();
    let m = today.getMinutes();
    let s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('date').innerHTML = today.getDate() + "-" + today.getMonth() + "-" + today.getYear() + " // " + h + ":" + m + ":" + s;
    setTimeout(startTime, 1000);
  }

  function checkTime(i) {
    if (i < 10) {
      i = "0" + i
    }
    ;  // add zero in front of numbers < 10
    return i;
  }
</script>
</body>
</html>
